.container {
	margin-top: 1em;
	background-color: #FFF8EC;
	display: flex;
	padding-top: 2em;
	padding-bottom: 2em;
	justify-content: space-around;
	align-items:center;
}
.outline {
		border: 1px black solid;
}
.input {
		background-color: #FFF8EC;
		border: none;
		font-size: 1em;
		font-family: 'Roboto Slab', serif;
		font-weight: 300;

}
.tagsAndDot {
	display: flex;
	justify-content: center;
	 align-items: center;
}
.shouldBeHidden {
	display: block;
}
@media (max-device-width: 370px) {
	.shouldBeHidden{
		display: none;
	}
}