@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&display=swap');

html,body{
	height: 100%;
  width: 100%;
}
body {
	  margin: 0;

  background-color: #282c34;
  background-image: url("http://localhost:3000/camping.png");
}

.App-header {
  
  text-align: center;
  
  font-size: calc(10px + 2vmin);
  color: black;
}

.App {
	font-family: 'Roboto Slab', serif;

	border-radius: 10px;
	border: solid white 1em;
	background-color: white;
	margin: 1.5em;
}
#currentDate {
	font-weight: bold;
	text-decoration: underline;
}
