.header {
  
  text-align: center;
  
  font-size: calc(10px + 2vmin);
  color: black;
}

.app {
	font-family: 'Roboto Slab', serif;

	border-radius: 10px;
	border: solid white 1em;
	background-color: white;
	margin: 1.5em;
}

.currentDate {
	font-weight: bold;
	text-decoration: underline;
}